#svg-fishes {
    .st0{fill:none;stroke:#231815;stroke-width:19.018;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st1{fill:none;stroke:#231815;stroke-width:18.3715;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st2{fill:none;stroke:#231815;stroke-width:13.6573;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
}
#svg-profile, #svg-list-new, #svg-list {
	.st0{fill:#141414;}
}
#svg-meat-veg-dish {
	.st0{fill:#333333;}
}
#svg-meats, #svg-nutr-salt, #svg-soup, #svg-turn-off {
	.st0{fill:none;}
}
#svg-nutr-fe {
	.st0{fill:none;}
	.st1{fill:#040000;}
}
#svg-nutr-fat, #svg-nutr-calorie, #svg-nutr-fiber, #svg-nutr-protein, #svg-nutr-vb1, #svg-nutr-vc, #svg-nutr-ve {
	.st0{fill:#040000;}
}
#svg-nutr-folic-acid {
	.st1{fill:#231815;}
	.st2{font-family:'FZLTTHK--GBK1-0';}
	.st3{font-size:80px;}
	.st4{letter-spacing:7.2;}
}
#svg-nutr-zn {
	.st0{fill:#595757;}
}